/*Футер*/
.footer {
  background-color: $title-text-color;
  color: $primary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--baseline {
  @include flex();
  align-items: baseline;
}

/*Адреса*/
.address {
  font-style: normal;
}

.address__link:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.contacts-footer {
  color: $contacts-footer;
}

/* Слогани */
.slogans {
  display: flex;
}

.socials-slogan {
  margin-right: 102px;
  width: 209px;
}

.slogans__title {
  margin-bottom: 21px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
